.Add_section img {
  max-width: 100%;
}

.Add_section {
  padding: 100px 0;
  background: #f9f7f7;
  width: 100%;
}

.Add_section .product {
  background: #fff;
  border-radius: 15px 15px 0 0;
}

.Add_section .product .content {
  padding: 20px;
}

.Add_section .product .content img {
  background: #eef2f7;
  border-radius: 15px;
}

.Add_section .product .content h4 {
  font-size: 18px;
  color: #313b5e;
  font-weight: 600;
}

span {
  font-size: 14px;
  color: #5d7186;
}

.Add_section .product .content h4 b {
  margin-right: 10px;
  font-weight: 600;
}

.Add_section .product .content h4 b span {
  text-decoration: line-through;
}

.Add_section .content h5 {
  font-size: 18px;
  color: rgba(33, 37, 41);
  text-align: start;
}

.Add_section .content .sizes,
.Add_section .content .colors {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.Add_section .product .content input,
.Add_section .content .field .colors input,
.Add_section .content .field .sizes input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.Add_section .product .content input:checked+label,
.Add_section .content .field .colors input:checked+label,
.Add_section .content .field .sizes input:checked+label {
  background: #bec2c6;
  color: #fff;
}

.Add_section .product .content label,
.Add_section .content .field .colors label,
.Add_section .content .field .sizes label {
  background: #eef2f7;
  color: #000;
  height: 35px;
  width: 35px;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.Add_section .buttons {
  background: #fcfcfd;
  padding: 20px;
}

.Add_section .buttons a {
  width: fit-content;
  text-align: center;
  padding: 10px;
  border-radius: 12px;
}

.Add_section .buttons a:nth-child(1) {
  background: transparent;
  color: #5d7186;
  border: 1px #5d7186 solid;
}

.Add_section .buttons a:nth-child(1):hover {
  background: #5d7186;
  color: #fff;
}

.Add_section .buttons a:nth-child(2) {
  background: #ff6c2f;
  color: #fff;
}

.Add_section .buttons a:nth-child(2):hover {
  background: #e6612a;
}

.Add_section .product-fields .heading {
  background: #fff;
  padding: 10px;
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid #eaedf1;
}

.Add_section .product-fields .heading h4 {
  font-size: 16px;
  font-weight: 600;
  color: #313b5e;
  margin: 0;
}

.Add_section .product-fields .content {
  background: #fff;
  text-align: center;
  padding: 20px;
}

.Add_section .product-fields .content .inner {
  border: 2px dashed #ff1271;
  padding: 50px 0;
  position: relative;
  z-index: 99;
}

.Add_section .product-fields .content .inner input {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  top: 0px;
  right: 0px;
  z-index: 100;
}

.Add_section .product-fields .content .inner i {
  font-size: 48px;
  color: #ff1271;
}

.Add_section .product-fields .content .inner h3 {
  color: #313b5e;
  font-weight: 600;
}

.Add_section .product-fields .content .inner h3 span {
  font-size: 28px;
  color: #ff1271;
}

.Add_section .product-fields .content .field {
  text-align: start;
}

.Add_section .product-fields .content .field label {
  margin-bottom: 6px;
}

.Add_section .product-fields .content .field label,
.Add_section .product-fields .content .field input,
.Add_section .product-fields .content .field select {
  font-size: 14px;
  font-weight: 500;
  color: #5d7186;
}

.Add_section .product-fields .content .field input::placeholder,
.Add_section .product-fields .content .field textarea::placeholder {
  color: #5d7186;
}

.Add_section .product-fields .content .field input:focus {
  border: 1px solid #c4c5c5;
}

.Add_section .product-fields .content .field input,
.Add_section .product-fields .content .field select,
.Add_section .product-fields .content .field textarea {
  display: block;
  outline: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #d8dfec;
  border-radius: 10px;
}

.Add_section .product-fields .content .field textarea {
  background: #fcfcfd;
}

.Add_section .product-fields .content .field select {
  background: #fff;
}

.Add_section .product-fields .content .field .price-div {
  display: flex;
}

.Add_section .product-fields .content .field .price-div span {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5d7186;
  text-align: center;
  white-space: nowrap;
  background: #f8f9fa;
  border: 1px solid #d8dfec;
  border-radius: 10px 0px 0px 10px;
}

.Add_section .product-fields .content .field .price-div input {
  border-radius: 0px 10px 10px 0px;
}

.Add_section .product-btns {
  display: flex;
  background: #eef2f7;
  justify-content: end;
  padding: 10px;
  border-radius: 10px;
}

.Add_section .product-btns button a {
  color: #5d7186;
}

.Add_section .product-btns button {
  margin: 10px;
  padding: 10px;
  border: none;
  background: transparent;
  width: 15%;
  border: 1px #5d7186 solid;
  transition: 0.5s;
  border-radius: 10px;
}

.Add_section .product-btns button:hover a{
  color: #fff;
}

.Add_section .product-btns button:hover {
  background: #5d7186;
}

.Add_section .product-btns button:nth-child(2) {
  background: #ff6c2f;
  border: 1px transparent solid;
}

.Add_section .product-btns button:nth-child(2) a {
  color: #fff;
}

.Add_section .product-btns button:nth-child(2):hover {
  background: #e6612a;
}