header {
  width: 100%;
  box-shadow: 0px 2px 5px #0000001c;
  background: #f9f7f7;
  color: #ffffff;
  position: fixed;
  margin-left: 60px;
  z-index: 101;
  top: 0;
  padding: 10px 0;
}

header h2 {
  color: #5d7186;
  font-size: 20px;
  font-weight: 500;
}

header ul {
  display: flex;
  justify-content: end;
  margin: 0;
  align-items: center;
}

header ul li {
  font-size: 24px;
  padding-left: 42px;
}

header ul li img {
  width: 30px;
}

header ul li a.navi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0;
  color: #6d6d6d;
}

header ul li .navi {
  background: none;
  border: none;
}

header ul li .navi .fa-moon,
header ul li .navi .fa-sun {
  font-size: 25px;
  color: #5d7186;
}

header ul li .navi .fa-sun {
  color: #ffff03bd;

}

header ul li figure {
  width: 60px;
  margin: 0;
  border-radius: 50%;
  border: 1px solid rgb(93, 93, 93);
}

header ul li figure img {
  width: 100%;
  border-radius: 50%;
}

header ul li .log-out {
  display: block;
  color: #6d6d6d;
}

header ul li .log-out:hover {
  color: rgb(253, 0, 0);
}