body {
  /* font-family: sf-pro !important; */
}
.modeva {
  display: flex;
  background-color: #f6f6f6;
  overflow: hidden;
  margin-top: 70px;
  padding-left: 65px;
  width: calc(100% - 60px);
}
.navigate {
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}
.modeva.open {
  width: 100%;
  transition: width 0.3s ease, margin-left 0.3s ease;
}

/* When sidebar is collapsed */
.modeva.closed {
  width: calc(100% - 265px);
  margin-left: 265px;
  transition: width 0.3s ease, margin-left 0.3s ease;
  padding-left: 0;
}

/* *************************mobile screen****************************** */
/* *************************mobile screen****************************** */
/* *************************mobile screen****************************** */
/* *************************mobile screen****************************** */
/* *************************mobile screen****************************** */
/* *************************mobile screen****************************** */
@media (max-width: 767px) {
  /* .Echron-Form {
    margin-top: 25px;
  } */
  .modeva-container-body {
    width: 94% !important;
  }
}
