.navbars {
  /* margin-top: 70px; */
  width: 265px;
  background: #040004d1;
  min-height: 100%;
  transition: width 0.3s ease;
  position: fixed;
}
.navbars.collapsed {
  width: 60px;
  background: #514e3b;
  text-align: center;
  position: fixed;
  z-index: 100;
}

.navbars .slid-nav {
  width: 100%;
  height: 42px;
  background: #4d4c4c;
  display: flex;
  align-items: center;
  justify-content: right;
}
.navbars .slid-nav {
  padding: 10px;
  cursor: pointer;
}
.navbars .slid-nav i {
  font-size: 25px;
  color: #ff1271;
  margin-right: 10px;
}
.navbars .navlist {
  height: calc(100vh - 163px);
  overflow-y: auto;
  padding: 0;
}
.navbars .navlist li {
  border-bottom: 1px solid #f1f1f142;
  cursor: pointer;
  padding: 10px 0px;
  font-family: "Poppins", "Inter", "Roboto", sans-serif;
}
.navbars .navlist li a {
  color: #ffff;
  font-size: 14px;
}
.navbars .navlist li i {
  margin: 0px 10px;
  font-size: 24px;
  color: #ff1271;
}
.navbars .navlist li.active,
.navbars .navlist li:hover {
  background: #000000;
}
.navbars .navlist li:hover i {
  color: #e48aaa;
  transform: rotate(360deg);
  transition: transform 0.9s ease-in-out, color 0.9s ease;
}
.navbars ul li ul.menu {
  background: #252300;
  margin-top: 10px;
  /* display: none; */
}

.navbars ul li.active ul.menu {
  display: block;
}

.navbars ul li ul.active.menu {
  display: block;
}

.navbars ul li ul.menu li {
  border-bottom: none;
  background-color: #0c1014;
  text-transform: capitalize;
}

.navbars ul li ul.menu li.active {
  color: #0b91d2;
  background-color: #0a0f04;
  padding-left: 10px;
}

.navbars ul li ul.menu li.active a {
  color: #fff;
}

.navbars ul li ul.menu li:hover {
  background-color: #000000;
}

.navbars ul li ul.menu li a {
  transition: all 0.5s;
  font-size: 13px;
  color: #7f8a9b;
  justify-content: left;
}

.navbars ul li ul.menu li:hover a {
  color: #fff;
  padding-left: 10px;
}

.navbars ul li ul.menu li a::before {
  content: "\f101";
  font-size: 13px;
  font-family: FontAwesome;
  margin-left: 10px;
  margin-right: 10px;
  transition: margin ease 0.5s;
  color: #ff1271;
}
